<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<context id="DB2Tables" targetRuntime="MyBatis3">
		<!-- 阻止生成注释 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		<!--配置数据库连接 -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://207.148.91.204/sdcampus" userId="root"
			password="Happyma666">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 指定javabean 生成的位置 -->
		<javaModelGenerator targetPackage="com.sd.bean"
			targetProject="ssm/src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- 指定sql映射文件生成的位置 -->
		<sqlMapGenerator targetPackage="mapper"
			targetProject="ssm/src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- 指定dao接口生成的位置 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.sd.dao" targetProject="ssm/src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- 对应每个表 -->
		
		<table tableName="order_status" domainObjectName="OrderStatus"/>	
	</context>
</generatorConfiguration>